/* * {
    text-align: center;
} */

.icon-block {
    padding: 0 15px;
  }
.icon-block .material-icons {
      font-size: inherit;
  }
/* body {
    background-color: rgba(223, 207, 207, 0.842);
} */
