<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Up</title>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- MATERIALIZE Compiled and minified CSS and icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- MATERIALIZE Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/3a6781b4ed.js" crossorigin="anonymous"></script>
  <!-- custom Styles -->
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

  <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!-- Ajax CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="indigo darken-4 lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Team Up <i class="material-icons">group</i></a>
          <ul class="right hide-on-med-and-down">
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="#" id="logout-button" class="btn-small waves-effect waves-light light-blue accent-4" style="margin: 0">Logout</a>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="#" id="logout-button" class="btn-small waves-effect waves-light light-blue accent-4">Logout</a></li>
            <li><a id="closeGroup-button" class="btn-small waves-effect waves-light light-blue accent-4 modal-trigger" href="#modal1">Close Group</a></li>
            <!-- Modal Trigger -->
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>


        <div class="row ">
            <br>
            <div class="col s6 m6 info" style="margin-left: 0">
              <h5 class="left-align register">Group Name</h5>
              <br>
            </div>
        </div>

        <div class="row ">
          <div class="col s12 m8 info" style="margin-left: 1%">
            <div class="row">
  
              <form class="col s6 m6" id="reg-form">
                  <div class="col s6 m12 info">
                      <h5 class="left-align register" style="margin-left: 0px">Create a Meeting Poll</h5>
                    </div>
                  <div class="input-field col s12">
                    <input id="scheduleText" type="text" class="validate" required>
                    <label for="scheduleText">Description</label>
                  </div>
                  <div class="datechoices">
                    <div class="input-field col s4">
                        <!-- <input id="postText" type="text" class="validate" required> -->
                        <input type="text" class="datepicker">
                        <label for="postText">Date</label>
                    </div>
                    <div class="input-field col s4">
                        <!-- <input id="postText" type="text" class="validate" required> -->
                        <input type="text" class="timepicker">
                        <label for="postText">From Time</label>
                    </div>
                    <div class="input-field col s4">
                      <!-- <input id="postText" type="text" class="validate" required> -->
                      <input type="text" class="timepicker">
                      <label for="postText">To Time</label>
                    </div>
                    <div class="input-field col s4">
                      <!-- <input id="postText" type="text" class="validate" required> -->
                      <input type="text" class="datepicker">
                      <label for="postText">Date</label>
                    </div>
                    <div class="input-field col s4">
                        <!-- <input id="postText" type="text" class="validate" required> -->
                        <input type="text" class="timepicker">
                        <label for="postText">From Time</label>
                    </div>
                    <div class="input-field col s4">
                      <!-- <input id="postText" type="text" class="validate" required> -->
                      <input type="text" class="timepicker">
                      <label for="postText">To Time</label>
                    </div>
                  </div>
                  <div class="input-field col s4">
                      <a href="#" id="addSchedule-button" class="btn waves-effect waves-light light-blue accent-4">Add Choice
                          <i class="material-icons right">add</i>
                      </a>
                  </div>
                  <div class="input-field col s6 left-align">
                      <a href="#" id="schedule-button" class="btn waves-effect waves-light light-blue accent-4">Post
                          <i class="material-icons right">done</i>
                      </a>
                  </div>
              </form>

              <form class="col s6 m6" id="reg-form">
                <div class="col s6 m12 info">
                    <h5 class="left-align register" style="margin-left: 0px">Create a Member Poll</h5>
                  </div>
                <div class="input-field col s12">
                    <select id="pollSelect">
                      <option value="" disabled selected>Choose your Poll Type</option>
                      <option value="Warning">Warning</option>
                      <option value="Praise">Praise</option>
                      <option value="Kickout">Kickout</option>
                    </select>
                    <label>Poll Type</label>
                </div>
                <div class="input-field col s12">
                  <input id="pollTitle" type="text" class="validate" required>
                  <label for="pollTitle">Title</label>
                </div>
                <div class="input-field col s12">
                  <input id="pollDescription" type="text" class="validate" required>
                  <label for="pollDescription">Description</label>
                </div>
                <div style="margin-left: 2%">
                  <p>
                    <label>
                      <input name="group1" type="radio" checked />
                      <span>Yes</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" />
                      <span>No</span>
                    </label>
                  </p>
                </div>
                <div class="input-field col s6 left-align">
                    <a href="#" id="polls-button" class="btn waves-effect waves-light light-blue accent-4">Post
                        <i class="material-icons right">done</i>
                    </a>
                </div>
            </form>

              <form class="col s6 m6" id="reg-form">
                <div class="col s6 m6 info">
                    <h5 class="left-align register" style="margin-left: 0px">Create Post</h5>
                  </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">mode_edit</i><input id="postText" type="text" class="validate" required>
                  <label for="postText">Description</label>
                </div>
                <div class="input-field col s6">
                    <a href="#" id="post-button" class="btn waves-effect waves-light light-blue accent-4" style="margin-left: 5%">Post
                        <i class="material-icons right">done</i>
                    </a>
                </div>
              </form>
            </div>
  
            <br><br>
  
            <div class="row " style="margin-left: 5%;">
              <div class="col s12 m12 info">
                <h5 class="left-align register">Recent Posts and Schedules</h5>
                <br><br>
                <form action="#" style="border: 1px;">
                  <h6>Sajad posted a poll</h6>
                  <h6>Hey guys, Meeting is to be scheduled to work on the software engineering group project.</h6>
                  <h6>Please pick the best time and vote for one of the choices below</h6>
                  <br>
                  <p>
                    <label>
                      <input name="group1" type="radio" value="1"/>
                      <span>05/01/2020 From 10:00 AM to 12:00 AM</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" value="2"/>
                      <span>05/01/2020 From 10:00 AM to 12:00 AM</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input class="with-gap" name="group1" type="radio"  value="3"/>
                      <span>05/01/2020 From 12:00 AM to 2:00 PM</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input name="group1" type="radio" value="4"/>
                      <span>05/01/2020 From 02:00 PM to 4:00 PM</span>
                    </label>
                  </p>
                  <a href="#" id="radiobtn" class="btn waves-effect waves-light light-blue accent-4" style="margin-left: 2%">Submit
                    <i class="material-icons right">done</i>
                  </a>
                </form>
                  <br>
                  <br>
                  <form action="#" style="border: 1px;">
                    <h6>Ahsan posted an update</h6>
                    <h6>Hey guys, please try to get here on time.</h6>
                    <h6>The meeting will start at the exact time.</h6>
                  </form>

              </div>
            </div>
  
          </div>

          <!-- <div class="col s12 m3 info" style="margin-left: 4%">
            <ul class="collection with-header">
              <li><a id="closeGroup-button" class="btn waves-effect waves-light light-blue accent-4 right-align right modal-trigger" href="#modal1">Close Group</a></li>

              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Closing Assesment</h4>
                  <p>Rate your team members and choose to put them in white or black list</p>

                  <ul class="collection with-header">
                    <li class="collection-header"><h5>Group Members</h5></li>
                    <li class="collection-item">
                      <div>Ahsan
                        <label></label>
                        <select class="browser-default" style="width: 20%; display: inline; margin-left: 3%;">
                          <option value="" selected>Choose your option</option>
                          <option value="1">Add to BlackList</option>
                          <option value="2">Add to WhiteList</option>
                        </select>
                          <input id="score" type="text" style="width: 20%">
                          <label for="score">Reason if chose one</label>
                          <input id="score" type="text" required style="margin-left: 3%; width: 20%">
                          <label for="score">Score</label>

                      </div>
                    </li>
                    <li class="collection-item">
                      <div>Sajad
                        <label></label>
                        <select class="browser-default" style="width: 20%; display: inline; margin-left: 3%;">
                          <option value="" selected>Choose your option</option>
                          <option value="1">Add to BlackList</option>
                          <option value="2">Add to WhiteList</option>
                        </select>
                          <input id="score" type="text" style="width: 20%">
                          <label for="score">Reason if chose one</label>
                          <input id="score" type="text" required style="margin-left: 3%; width: 20%">
                          <label for="score">Score</label>
                      </div>
                    </li>
                    <li class="collection-item">
                      <div>Arun
                        <label></label>
                        <select class="browser-default" style="width: 20%; display: inline; margin-left: 3%;">
                          <option value="" selected>Choose your option</option>
                          <option value="1">Add to BlackList</option>
                          <option value="2">Add to WhiteList</option>
                        </select>
                          <input id="score" type="text" style="width: 20%">
                          <label for="score">Reason if chose one</label>
                          <input id="score" type="text" required style="margin-left: 3%; width: 20%">
                          <label for="score">Score</label>
                      </div>
                    </li>              
                    <li class="collection-item">
                      <div>Abdul
                        <label></label>
                        <select class="browser-default" style="width: 20%; display: inline; margin-left: 3%;">
                          <option value="" selected>Choose your option</option>
                          <option value="1">Add to BlackList</option>
                          <option value="2">Add to WhiteList</option>
                        </select>
                          <input id="score" type="text" style="width: 20%">
                          <label for="score">Reason if chose one</label>
                          <input id="score" type="text" required style="margin-left: 3%; width: 20%">
                          <label for="score">Score</label>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-close waves-effect waves-green btn-flat light-blue accent-3">Submit</a>
                </div>
              </div>

              <li class="collection-header"><h5>Group Management</h5></li>
              <li class="collection-item">
                <div>Ahsan
                <a href="#!" class="secondary-content" style="margin: 3px;">warn<i class="material-icons">arrow_drop_down</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">praise<i class="material-icons">arrow_drop_up</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">kickout<i class="material-icons">block</i></a>
                </div>
              </li>
              <li class="collection-item">
                <div>Sajad
                <a href="#!" class="secondary-content" style="margin: 3px;">warn<i class="material-icons">arrow_drop_down</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">praise<i class="material-icons">arrow_drop_up</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">kickout<i class="material-icons">block</i></a>
                </div>
              </li>
              <li class="collection-item">
                <div>Arun
                <a href="#!" class="secondary-content" style="margin: 3px;">warn<i class="material-icons">arrow_drop_down</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">praise<i class="material-icons">arrow_drop_up</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">kickout<i class="material-icons">block</i></a>
                </div>
              </li>              
              <li class="collection-item">
                <div>Abdul
                <a href="#!" class="secondary-content" style="margin: 3px;">warn<i class="material-icons">arrow_drop_down</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">praise<i class="material-icons">arrow_drop_up</i></a>
                <a href="#!" class="secondary-content" style="margin: 3px;">kickout<i class="material-icons">block</i></a>
                </div>
              </li>
            </ul>
          </div> -->


        </div>  

        
    




      




    <script src="assets/js/materialize.js"></script>
    <script type="text/javascript" src="assets/js/GP.js"></script>
</body>
</html>