<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Up</title>

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- MATERIALIZE Compiled and minified CSS and icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- MATERIALIZE Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/3a6781b4ed.js" crossorigin="anonymous"></script>
  <!-- custom Styles -->
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

  <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <!-- Ajax CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <nav class="indigo darken-4 lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Team Up <i class="material-icons">group</i></a>
          <ul class="right hide-on-med-and-down">
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="#" id="logout-button" class="btn-small waves-effect waves-light light-blue accent-4" style="margin: 0">Logout</a>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <!-- <li><a href="#">Navbar Link</a></li> -->
            <li><a href="#" id="logout-button" class="btn-small waves-effect waves-light light-blue accent-4">Logout</a></li>
            
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s1"><a href="#GroupsTab">Groups</a></li>
          <li class="tab col s2"><a href="#NewRegistrationsTab">New Registration</a></li>
          <li class="tab col s2"><a href="#InvitationsTab">Invitations</a></li>
          <li class="tab col s1"><a href="#WhiteListTab">WhiteList</a></li>
          <li class="tab col s2"><a href="#BlackListTab">BlackList</a></li>
          <li class="tab col s2"><a href="#ComplimentsComplainsTab">Compliments Complains</a></li>
          <li class="tab col s2"><a href="#ClosedGroupsTab">Closed Groups</a></li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="col l12 m12">
          <h5 class="left" style="margin-left: 2%;">Super User name</h5>
      </div>
    </div>

    <div class="container">
        <div class="row" id="NewRegistrationsTab">
          <div class="row">
            <h5 class="left">New Registration Reuqests</h5>
          </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">New User Name</span>
                  <p>This section contains basic information regarding the user.<br></p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">New User Name</span>
                  <p>This section contains basic information regarding the item.<br></p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">New User Name</span>
                  <p>This section contains basic information regarding the item.<br></p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>  
        </div>
        <div class="row" id="GroupsTab">
          <div class="row">
            <h5 class="left-align register">Create a Group</h5>
            <form class="col s6 m6" id="reg-form" style="">
                <div class="input-field col s12">
                  <input id="groupName" type="text" class="validate" required>
                  <label for="groupName">Group Name</label>
                </div>
                <div class="input-field col s12">
                  <br>
                  <div class="chips chips-placeholder"></div>
                  <label for="Invitees">Invitees' usernames</label>
                </div>
                <div class="input-field col s6">
                    <a href="#" id="createGroup-button" class="btn waves-effect waves-light light-blue accent-4">Submit
                        <i class="material-icons right">done</i>
                    </a>
                </div>
            </form>
          </div>
          <div class="row">
            <h5 class="left">Your Current Groups</h5>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Group Title</span>
                <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
              </div>
              <div class="card-action">
                <a href="#">View</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Group Title</span>
                <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
              </div>
              <div class="card-action">
                <a href="#">View</a>
              </div>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Group Title</span>
                <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
              </div>
              <div class="card-action">
                <a href="#">View</a>
              </div>
            </div>
          </div>  
        </div>
        <div class="row" id="InvitationsTab">
          <div class="row">
            <h5 class="left">Your Invitations</h5>
          </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Group Title</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Group Title</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Group Title</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Accept</a>
                  <a href="#">Decline</a>
                </div>
              </div>
            </div>   
        </div>
        <div class="row" id="WhiteListTab">
          <div class="row"><h5 class="left">Your White List</h5></div>
        
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#AddWhiteModal">Add to White List</a>
  
          <!-- Modal Structure -->
          <div id="AddWhiteModal" class="modal">
            <div class="modal-content">
              <h4>Add to your White list</h4>
              <p>Enter the user name</p>
              <form class="col s6 m6" id="reg-form" style="margin-left: 25%">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" required>
                  <label for="username">Username</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>
            </div>
          </div>
  
          <div class="row">
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>


        <div class="row" id="BlackListTab">
          <div class="row"><h5 class="left">Your Black List</h5></div>
          <!-- <i class="material-icons">add</i> -->
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#AddBlackModal">Add to Black List </a>

          <div class="row">
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
            <div class="col s12 m3">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">User name</span>
                  <p>This section contains basic information regarding the item.<br>The link below takes the user to view the item in more details</p>
                </div>
                <div class="card-action">
                  <a href="#">Remove</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Structure -->
          <div id="AddBlackModal" class="modal">
            <div class="modal-content">
              <h4>Add to your Black list</h4>
              <p>Enter the user name</p>
              <form class="col s6 m6" id="reg-form" style="margin-left: 25%">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate" required>
                  <label for="username">Username</label>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit</a>
            </div>
          </div>
        </div>


        <div class="row " id="ComplimentsComplainsTab">
          <br><br>
          <div class="col s12 m12 info">
            <h5 class="left-align register">New Compliments and Complains</h5>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Compliment</span>
                  <h6>Username Mike33 received 3 compliments</h6>
                  <p>This section contains basic information regarding the item.<br></p>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Respond</a>

                  <!-- Modal Structure -->
                  <div id="modal2" class="modal">
                    <div class="modal-content">
                      <h5>Manage User</h5>
                      <ul class="collection">
                        <li class="collection-item avatar">
                          <span class="title">Mike33</span>
                          <p>VIP user<br>
                             Score: 50
                          </p>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                      <form class="col s6 m6" id="reg-form" style="margin-left: 3%">
                        <div class="input-field col s12">
                          <input id="username" type="text" class="validate" required>
                          <label for="username">Enter the updated score</label>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Submit Score</a>
                      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Block user from System</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Complain</span>
                  <h6>Username Mike33 received a compliments</h6>
                  <p>This section contains basic information regarding the item.<br></p>
                </div>
                <div class="card-action">
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Respond</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row " id="ClosedGroupsTab">
          <br><br>

          <div class="col s12 m12 info">
            <h5 class="left-align register">Closed Groups Pending Evaluation to be Assigned</h5>

            <p class="light"> There's currently no item here</p>
            <br>
          </div>

        </div>


        <br><br> <br><br> <br><br>

    </div>

    
    <script src="assets/js/materialize.js"></script>
    <script type="text/javascript" src="assets/js/SU.js"></script>
</body>
</html>